/* #menuBars3::before{
    content: "";
    width: 200px;
    height: 50px;
    position: absolute;
    transform: rotate(40deg);
    z-index: -1;
    top: -12px;
    left: -87px;
    background-color: #ffffff;
} */